@import 'nav'
@import 'articleList'
@import 'articleViewPage'
@import 'articleCreate'


.login-container
  background-image: url(../images/homepage4.jpg)
  width: 100vw
  height: 100vh
  background-size: cover
  margin: 0 auto
  position: absolute
  left: 0
  top: 0

.login
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

.loginSignupContainer
  width: 360px
  margin: 0 auto
  display: flex
  align-items: center
  padding: 24px
  background: transparentize($darkgrey, 0.9)

.loginTop
  position: relative
  width: 100vw
  display: flex
  justify-content: space-between
  height: 64px
  align-items: center
  background: $slate
  padding: 0 64px
  line-height: 64px
  a
    color: $slate
    display: inline-block
    height: 32px
    line-height: 32px
    text-transform: uppercase
    background: $white
    min-width: 88px
    padding: 0 5px
    text-align: center
    border-radius: 3px
    text-decoration: none
    margin-right: 16px

.subtitle
  display: block

.login-input
  background-color: $white
  width: 240px
  height: 24px
  margin: 8px 0
  font-size: 14px
  border: none
  color: $textgrey


input:-webkit-autofill
  box-shadow: 0 0 0px 1000px $white inset
  padding: 4px
