
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.homepageBackground {
  background: url(../images/homepage4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* start Users table*/

/* = table
------------------------*/
.usersTable table{
  border-collapse:collapse;
  text-align:left;
  width:100%;
  margin:0;
  padding:0;
  background:#Af9c9d;
  animation: responsive 5s infinite ease-in-out;
}
.usersTable{
  font:normal 12px/150% Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  display:block;
  width:95%;
}
.usersTable table thead th{
  background-color:#bfbfbf;
  color: #333333;
  text-align:center;
  padding: 0.75em;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  font-size: 1.25em;
  height: 1.25em;
  vertical-align: top;
  border-left:0.25em double #95a5a6;

}
.usersTable table tbody td,
.usersTable table tbody tr{
  font-family: 'Vollkorn', serif;
  font-size:1em;
  border:none;
  padding:1em;
}
.usersTable table tbody tr:nth-child(odd){
  background:#ecf0f1;
  color:#333333;
}
.usersTable table tbody tr:nth-child(even){
  background:#bdc3c7;
  color:#333333;
}
.usersTable table tbody tr a{
  text-decoration:none;
  color:#e67e22;
}
.usersTable table tbody tr a:hover{
  color:#d35400;
}
.usersTable .user-photo{
  background:#bdc3c7;
}
.usersTable .user-tumb{
  width:6em;
  height:6em;
  padding:0;
  display:table-cell;
  text-align:center;
  margin:0 auto;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
}


/* = Responsive table
------------------------*/

/* http://elvery.net/demo/responsive-tables/  */
@media only screen and (max-width: 800px){
  .usersTable table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
  }
  .usersTable th,
  .usersTable td{
    margin:0;
    vertical-align:top;
  }
  .usersTable th{
    text-align:left;
  }
  .usersTable table{
    display:block;
    position:relative;
    width:100%;
  }
  .usersTable thead{
    display:block;
    float:left;
  }
  .usersTable tbody{
    display:block;
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
  }
  .usersTable thead tr{
    display:block;
  }
  .usersTable th{
    display:block;
    text-align:right;
  }
  .usersTable tbody tr{
    display:inline-block;
    vertical-align:top;
  }
  .usersTable td{
    display:block;
    min-height:1.25em;
    text-align:left;
  }
  .usersTable th{
    border-bottom:0;
    border-left:0;
  }
  .usersTable td{
    border-left:0;
    border-right:0;
    border-bottom:0;
  }
}
/* = Error
------------------------*/
.error_table {
  display: block;
  background: #E05E5E;
  color: #D1D1D1;
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 3em;
  width: 90%;
  padding: 5%;
}
/* = Loader
------------------------*/
.loading_table{
  background:#d35400;
  color:#ecf0f1;
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 1em;
  width: 0;
  display: block;
  overflow: hidden;
  height: 1em;
  padding:0.5em;
  animation: table_loader 10s infinite ease;
}
@keyframes table_loader{50%{width:100%}}
@-webkit-keyframes table_loader{50%{width:100%}}
@-moz-keyframes table_loader{50%{width:100%}}
@-ms-keyframes table_loader{50%{width:100%}}
@-o-keyframes table_loader{ 50%{width:100%}}

/*end of Users table*/




/*START USER DEFINITIONS TABLE*/

.rolesTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.rolesTable td {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Body*/
.rolesTable tbody td {
  text-align: center;
  font: normal 12px Verdana, Arial, Helvetica;
  width: 150px;
}

.rolesTable tbody td:first-child {
  width: auto;
  text-align: left;
}

.rolesTable td:nth-child(2),
.rolesTable td:nth-child(3) {
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: 1px solid white;
}


.rolesTable td:nth-child(4) {
  background: #e7f3d4;
  background: rgba(184,243,85,0.3);
}

/*Header*/
.rolesTable thead td {
  font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
  border-radius-topright: 10px;
  border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}

.rolesTable thead td:first-child {
  border-top: none;
}

/*Footer*/
.rolesTable tfoot td {
  font: bold 1.4em Georgia;
  border-radius-bottomright: 10px;
  border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.rolesTable tfoot td:first-child {
  border-bottom: none;
}

/*END USER DEFINITIONS TABLE*/


/*START PERMISSIONS TABLE */

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}



/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.permissionsTable {
		display: block;
		position: relative;
		width: 100%;

		&:after {
			clear: both;
			content: '';
			display: block;
			font-size: 0;
			height: 0;
			visibility: hidden;
		}

		tbody {
			display: block;
			overflow-x: auto;
			position: relative;
			white-space: nowrap;
			width: auto;


			tr {
				display: inline-block;
				vertical-align: top;

				td {
					display: block;
					text-align: center;

					&:first-child {
						text-align: left;
					}
				}
			}
		}

		thead {
			display: block;
			float: left;
			margin-right: 10px;

			&:after {
				clear: both;
				content: "";
				display: block;
				font-size: 0;
				height: 0;
				visibility: hidden;
			}

			th:first-of-type {
				height: 1.4em;
			}

			th {
				display: block;
				text-align: right;

				&:first-child {
					text-align: right;
				}
			}
		}
	}
}

/*END PERMISSIONS TABLE */



.newTicketForm {
  background-color: #FFEDD3;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
}

.editTicketForm {
  background-color: #5D5D5D;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
}

#searchBar {
  position: relative;
  margin-left: 70px;
  font-size: 14px;
  width:300px;
  height: 35px;
}

.ticketsAndSearch {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  border-color: black;
  border-width: 1;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9998;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 800px;
  max-height: 500px;
  overflow-y: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.ticketModalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9998;
	/*opacity:0;*/
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.ticketModalDialog > div {
	width: 800px;
  max-height: 500px;
  overflow-y: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.settingsTable {
  background-color: #D9D9D9;
}

.profilePicture {
  width: 380px;
  height: 340px;
  margin-bottom: 30px;
}

.closeModal {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	text-align: center;
  right: 3px;
	top: 3px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.closeModal:hover { background: #00d9ff; }

.createTicketButton {
  margin-bottom: 30px;
}

.linkMargins {
  margin-right: 30px;
}

.browseArticles {
  margin-left: 30px;
}

.loginTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #9d9d9d;
  height: 60px;
  width: 100%;
  top: 0px;
  background-color: #fcf6d7;
}

.loginTopTrim {
  position: absolute;
  height: 15px;
  width: 100%;
  top: 60px;
  background-color: #333;
}

.loginSignupContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  margin: 30px;
}

#beefaloLogo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.openTicketColor {
  background-color: green;
}

.centerFlexHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.centerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centerItem {
  align-self: center;
}

.rowFlexClose {
  display: flex;
  flex-flow: row wrap;
}

.rowFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.hidden {
  display: none;
}

body {margin: 0;}

.centerText {
  text-align: center;
}

.brownBackground {
  background-color: #a58c63;
}

.brownContainer {
  /*background-color: #a58c63;*/
  /*padding: 10px;*/
  /*border-style: solid;*/
  /*border-width: thick;
  border-radius: 10px;
  border-color: black;*/
  margin-bottom: 20px;
}

.wideChart {
  width: 900px;
}

/*ARTICLE STYLEZ*/

.article-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fcf6d7;
  width: 960px;
  margin: 64px auto;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.article-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  padding: 16px;
}
.article-list-item:nth-child(odd) {
  margin-top: 8px;
  background: #f7f7f7;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.article-list-content {
  max-width: 496px;
  padding: 0 32px 32px;
}
.article-list-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 16px;
}
.article-list-button {
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  height: 32px;
  width: 120px;
  margin: 32px 0;
}

.full-article {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.3);
  overflow: scroll;
}
.full-article-content, .edit-modal-container, .create-article-container {
  width: 960px;
  margin-top: 64px;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 3px;
  padding: 32px;
  background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  background: linear-gradient(#fff, #999);
}
.full-article-title {
  font-size: 16px;
  font-weight: 600;
}
.full-article-title.main {
  font-size: 20px;
}
.button-float {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -64px;
}
.full-article-button {
  border: none;
  background: none;
}
.material-icons {
  display: inline-block;
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 8px;
}
.full-article-button-container {
  display: flex;
}
.edit-modal-input, .edit-modal-textarea {
  display: block;
  width: 640px;
  margin-left: 32px;
}
.edit-modal-textarea {
  height: 120px;
}
.article-list > ul {
  padding-left: none;
  margin-left: none;
}
.create {
  margin-right: 64px;
}
