<<<<<<< HEAD
=======
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

>>>>>>> getRequestIssue
.newTicketForm {
  background-color: #FFEDD3;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
}

#searchBar {
  margin-left: 30px;
  font-size: 14px;
  width:300px;
  height: 35px;
}

.ticketsAndSearch {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  border-color: black;
  border-width: 1;
}

.createTicketButton {
  display: flex;
  justify-content: center;
  border-color: black;
  border-width: 1;
  margin: 30px;
}

.loginSignupContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-width: 1;
  margin: 30px;
}

.hidden {
  display: none;
}
