
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.newTicketForm {
  background-color: #FFEDD3;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
}

.editTicketForm {
  background-color: #5D5D5D;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
}

#searchBar {
  position: relative;
  margin-left: 70px;
  font-size: 14px;
  width:300px;
  height: 35px;
}

.ticketsAndSearch {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  border-color: black;
  border-width: 1;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
  max-height: 500px;
  overflow-y: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.closeModal {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	text-align: center;
  right: 3px;
	top: 3px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.closeModal:hover { background: #00d9ff; }

.createTicketButton {
  margin-bottom: 30px;
}

.linkMargins {
  margin-right: 30px;
}

.loginTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #9d9d9d;
  height: 60px;
  width: 100%;
  top: 0px;
  background-color: #fcf6d7;
}

.loginTopTrim {
  position: absolute;
  height: 15px;
  width: 100%;
  top: 60px;
  background-color: #333;
}

.loginSignupContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  margin: 30px;
}

#beefaloLogo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.centerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/*ARTICLE STYLEZ*/

.article-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fcf6d7;
  width: 960px;
  margin: 64px auto;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.article-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  padding: 16px;
}
.article-list-item:nth-child(odd) {
  margin-top: 8px;
  background: #f7f7f7;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.article-list-content {
  max-width: 496px;
  padding: 0 32px 32px;
}
.article-list-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 16px;
}
.article-list-button {
  border-radius: 3px;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  height: 32px;
  width: 120px;
  margin: 32px 0;
}

.full-article {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.3);
  overflow: scroll;
}
.full-article-content, .edit-modal-container, .create-article-container {
  width: 960px;
  margin-top: 64px;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 3px;
  padding: 32px;
  background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  background: linear-gradient(#fff, #999);
}
.full-article-title {
  font-size: 16px;
  font-weight: 600;
}
.full-article-title.main {
  font-size: 20px;
}
.button-float {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -64px;
}
.full-article-button {
  border: none;
  background: none;
}
.material-icons {
  display: inline-block;
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 8px;
}
.full-article-button-container {
  display: flex;
}
.edit-modal-input, .edit-modal-textarea {
  display: block;
  width: 640px;
  margin-left: 32px;
}
.edit-modal-textarea {
  height: 120px;
}
.article-list > ul {
  padding-left: none;
  margin-left: none;
}
.create {
  margin-right: 64px;
}
